.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enterButton {
    margin-top: 20px;
}

.mainPage {
    font-size: var(--font-size-global);
    line-height: var(--line-height-global);
}
